---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Desarrollador Fullstack",
    company: "Nuzack S.A.S.",
    description:
      "Responsable del desarrollo de aplicaciones web y móviles, tanto Frontend como Backend, para soluciones de gestión a negocios y educación.",
  },
  {
    date: "2021 - 2022",
    title: "Desarrollador React Native",
    company: "Freelance",
    description:
      "Desarrollador de interfaces de usuario para aplicaciones web y móviles, así como la creación de APIs RESTful para una app de reparto de alimentos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
